@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #00001d !important; }

nav {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 100px;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  padding-top: 20px;
  backdrop-filter: blur(2px);
  z-index: 2; }
  nav h2{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 15px;}
  nav .btnSalir{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 0px;}
  nav ul{
    list-style: none;}
  nav ul li{
    display: inline-block;
    margin-top: 14px;}
    nav ul li a{
      text-decoration: none;
      color: white;
      margin-left: 20px;
      padding: 10px;}
    
    nav ul li a:hover{
    text-transform: underline white 1px solid;
    background-color: rgba(20, 14, 46, 0.521);
    border-radius: 15px;
    border: 1px white solid;
    padding: 9px;
    color: white;}

  nav img {
    height: 65px; }

/* Productos */
.headerproductos {
  background-image: url(../img/fondoproductos.jpeg);
  width: 100%;
  border-bottom: 1px solid white;
  background-repeat: repeat;
  border-bottom: 1px solid white;
  background-position: center; }
  .headerproductos .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
    gap: 4rem;
    text-align: center;
    color: white; }
    .headerproductos .container .btnCarrito{
      padding: 0px 5px;
      font-size: 17px;
      margin-left: 5px;
      background-color:#00001d38;
      color: white;
      border: white solid 1px;
      font-weight: bolder;}
    .headerproductos .container .noProd{
      margin-top: 10px;
      font-size: 15px;
      font-weight: lighter;
      font-style: italic;}
      .headerproductos .container .totalCarrito{
        font-size: 25px;
        backdrop-filter: blur(10px);
        margin: 15px 0px;}
    .headerproductos .container .prodCarrito a{
      color: white;}
    .headerproductos .container .infoCarrito{
      font-size: 20px;}
    .headerproductos .container .productosCarrito{
      font-size: 18px;
      font-weight: lighter;
      margin-top: 10px;}
    .headerproductos .container h2 {
      font-weight: bold;
      display: inline-block;
      margin-top: 5px; 
      margin-bottom: 5px;}
    .headerproductos .container h3{
      padding: 6px;
      margin-top: 5px;
      margin-bottom: 8px;
      font-size: 15px;}
    .headerproductos .container h3 a{
      color: white;
      text-decoration: none;
      font-size: 15px;}
      .headerproductos .container h3 a:hover{
        color: white;
        text-decoration: underline;
        font-size: 15px;}
    .headerproductos .container .modelo {
      width: 250px;
      color: black;
      border-radius: 15px;
      border: white solid 1px;
      padding: 1rem 1rem;
      color: white;
      margin-right: 20px;
      backdrop-filter: blur(3px);
      background-color: rgba(20, 14, 46, 0.521); }
      .headerproductos .container .modelo img {
        width: 200px; 
        border: 1px solid white;}
      .headerproductos .container .modelo .carritoimg {
        height: 50px;
        width: 50px;
        border: none; }
    .headerproductos .totalCarritoend{
      font-size: 35px;
      backdrop-filter: blur(10px);
      background-color: #00001d75;
      margin: 15px 0px;
      border-radius: 10px;
      border: white 1px solid;
      padding: 10px;}
    .headerproductos .prodCarrito {
      padding: 10px;
      background-color: rgba(20, 14, 46, 0.521);
      border-radius: 15px;
      border: 1px white solid;}
.productosextra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 4rem;
  text-align: center;
  background-image: url(../img/fondoproductosex.jpg);
  background-repeat: repeat;
  background-position: center;
  box-shadow: rgba(255, 255, 255, 0.151) 0px 4px 6px -1px, rgba(255, 255, 255, 0.315) 0px 2px 4px -1px; }
  .productosextra h1 {
    padding-right: 40px;
    margin-right: 100px;
    color: white; }
  .productosextra h2 {
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    color: white; 
    margin-bottom: 5px;}
  .productosextra h3{
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 15px;}
  .productosextra h3 a{
    text-decoration: none;
    color: white;
    font-size: 15px;}
    .productosextra h3 a:hover{
      text-decoration: underline;
      color: white;
      font-size: 15px;}
  .productosextra .modelo2 {
    color: white;
    width: 250px;
    border-radius: 15px;
    border: white solid 1px;
    padding: 1rem 1rem;
    color: white;
    margin-right: 20px;
    background-color: rgba(20, 14, 46, 0.521);
    backdrop-filter: blur(2px);
    margin-bottom: 15px; }
    .productosextra .modelo2 img {
      width: 200px;
      border: 1px solid white; }
      .productosextra .modelo2 .carritoimg {
      height: 50px;
      width: 50px;
      border: none; }


/* Footer */
footer .btnmenu {
  display: flex;
  justify-content: center;
  margin-top: 30px !important; }
  footer .btnmenu a {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    color: white !important; }
    footer .btnmenu a:hover {
      background-color: rgba(102, 102, 102, 0.521); }

footer .derechos {
  border-top: 1px solid white;
  margin-top: 10px !important;
  text-align: center;
  color: white !important;
  padding-top: 6px !important; }

/* Media Querys */
@media screen and (max-width: 768px) {
  nav ul a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    padding: 7px;
    font-size: 13px; }
    nav ul a:hover {
      text-transform: underline white 1px solid;
      background-color: rgba(20, 14, 46, 0.521);
      border-radius: 15px;
      border: 1px white solid;
      padding: 6px; }
  nav img {
    height: 50px;
    margin-left: 30px; }
  }
@media screen and (max-width: 1280px) {
  .headerproductos .container {
    display: flex;
    flex-direction: column;
    align-items: center;}
    .headerproductos .container .prodCarrito{
      margin-right: 20px;
    }
    .headerproductos .container h2 {
      margin-bottom: 5px; }
    .headerproductos .container img {
      border: 1px solid white; }
  .productosextra {
    flex-direction: column;
    margin: 0px; }
    .productosextra h1 {
      padding-right: 0px;
      margin-right: 0px;
      color: white; }
    .productosextra h2 {
      margin-bottom: 5px;
      color: white; }
    .productosextra img {
      border: 1px solid white; }
      .productosextra img .carritoimg{
        border: none; }
    }
